@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

#container {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 4fr;
  font-family: "Roboto", sans-serif;
  color: #202020;
}

.sidebar {
  color: rgb(233, 224, 224);
  font-weight: 500;
  font-size: 1.5rem;
  background-color: #047857;
  padding: 12px;
  border: solid 2px #047857;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  display: grid;
  grid-template-rows: 1fr 8fr;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #202020;
  border-radius: 5px;
  padding-right: 5px;
  grid-area: 1/1/2/2;
}

.projects-tab {
  grid-area: 2/1/-1/2;
  display: flex;
  flex-direction: column;
}

.projects {
  margin-top: 16px;
  font-size: 2.2rem;
}

.project-tab {
  display: flex;
  justify-content: space-between;
}

#content {
  width: 100%;
  background-color: #ecfdf5;
  box-sizing: border-box;
  padding: 32px;
  padding-top: 0px;
  display: grid;
  grid-template-rows: 1fr 6fr;
}

.header-section {
  display: flex;
  align-items: center;
  grid-area: 1/1/2/2;
}

.header-title {
  font-size: 4rem;
  font-weight: 600;
}

.header-date {
  font-size: 1.5rem;
  font-weight: 500;
}

.priority-container {
  padding: 24px 0px;
}

.priority-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.priority1-tasks {
  background-color: #ec6767;
}

.priority2-tasks {
  background-color: #ec9a57;
}

.priority3-tasks {
  background-color: #f0d362;
}

.priority4-tasks {
  background-color: #ecfdf5;
}

.task-row {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  padding-right: 24px;
  border-bottom: 2px solid #047857;
  border-radius: 2px;
}

.task-items {
  display: flex;
  column-gap: 8px;
}

.revision-items {
  display: flex;
  column-gap: 8px;
}

.projects-header {
  display: flex;
  column-gap: 16px;
  font-size: 2rem;
  font-weight: 900;
}
