* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

#container {
  height: 100%;
  display: flex;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  background-color: #589636;
}

.sidebar {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: rgb(171, 235, 88);
  padding: 8px;
}

.projects {
  margin-top: 16px;
  font-size: 2.2rem;
}

#content {
  width: 100%;
  background-color: #c0eb80;
}

.priority-container {
  padding: 24px;
}

.priority-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.priority1-tasks {
  background-color: rgb(216, 96, 96);
}

.priority2-tasks {
  background-color: rgb(217, 171, 87);
}

.priority3-tasks {
  background-color: rgb(226, 226, 81);
}

.priority4-tasks {
  background-color: white;
}

.task-row {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  padding-right: 24px;
  border-bottom: 1px solid gray;
}

.task-items {
  display: flex;
  column-gap: 8px;
}

.revision-items {
  display: flex;
  column-gap: 8px;
}
