body {
  height: 100vh;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  background-color: #224b0c;
  width: 100%;
}

.sidebar {
  height: 100%;
  font-size: 2rem;
  margin: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #c1d5a4;
}

.projects {
  margin-top: 16px;
  font-size: 2.2rem;
}
